:root{
    --cor-de-fundo: #db7373;
    --verde: #dd1919;
    --branco: #faf2f2;
    --botao-ativo: #97ec48;
    --botao-inativo: #44d8e2;
    --texto-fundo: #492e7a;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 32px;
}